//Layout del componente 
.l-editProduct{
  width: 100%;
  padding: 20px 3.5% 20px 3.5%;

  .form-textArea{
    height: 70px;
  }

  .button{
    align-self: flex-end;
  }
  
}

//comportamiento del compon
.editProduct{
  display: flex;
  flex-direction: column;
}

.l-editProduct__photos{


  .editProduct__photos{
    display: flex;
    flex-wrap: wrap;



    // interfaz agregar foto
    .editProduct__addPhoto{
      width: 130px;
      height: 130px;
      margin-top: 10px;
      border-radius: 10px;
      background-color: rgb(40, 43, 114);
      overflow: hidden;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      input{
        display: none;
      }

      &:hover{
        svg{
          transform: scale(1.3);
        }
      }

    }

    .editProduct__photo{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;;

      &:hover{
        svg{

          &:hover{
            transform: scale(0.8);
          }
          
        }
      }


      svg{
        display: flex;
        align-items: center;
        top: 5px;
        right: 10px;
        padding: 3px;
        // background-color: rgba(255, 255, 255, 0.207);
        justify-content: center;
        transform: scale(0.7);
        text-align: center;
        border-radius: 5px;
        position: absolute;
        cursor: pointer;
        z-index: 3;
      }

      img{
        width: 130px;
        height: 130px;
        border-radius: 10px;
        margin-top: 10px;
        background-color: rgb(40, 43, 114);
        overflow: hidden;
        margin-right: 10px;
        object-fit: cover;
  
      }
    }

  }

}

@media(min-width:890px){

  .l-editProduct__photos{

    .editProduct__photos{

      .editProduct__photo{
        
        img{
          width: 160px;
          height: 160px;
          margin-top: 0px;
        }
      }

      .editProduct__addPhoto{
        width: 160px;
        height: 160px;
        margin-top: 0px;
      }
    }
  }
}



