.newProduct__unitPrices{

  .l-table{
    border: solid 0.8px #B8B5B5;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    padding: 0px 10px;
    width: 100%;
    max-width: 350px;
  }
  
  table{
    width: 100%;
    border-collapse: collapse;
    
    .colNames{
      width: 40%;
    }
    
    .colPrices{
      width: 35%;
    }

  }

  tr{

    &:not(:first-child){
      border-top: solid 0.8px #B8B5B5;
    }


  }
  
}


@media(min-width:768px){

  .newProduct__unitPrices{

    .l-table{
      padding: 0px 20px;
    }

    table{

      .colNames{
        width: 40%;
      }
      .colPrices{
        width: 40%;
      }

    }

  }

}