.newProduct__unitPrices{
  
  .unitPrice--edit{
    
    td{

      input,select{
        border-bottom: 1px solid #2EC4B6;
      }
    }
  }

  td{
    height: 50px;



    &:first-child{
      padding-left: 10px;
    }

    .unitPrice__buttons{
      display: flex;
      justify-content: space-around;

      &--onlyEdit{
        justify-content: center;
      }

      svg{
        cursor: pointer;
      }
    }    

    .button--icon{
      border: none;
      p{
        padding-left: 8%;
      }
    }

    select.form-input {
      width: 85%;
    }

    .form-input{
      width: 100%;
      margin: 0;
      border: 0;
      border-bottom: 1px solid transparent;
      border-radius: 0;
      box-shadow: none;
    }
  }
}


@media(min-width:768px){

  .newProduct__unitPrices{

    td{
      .unitPrice__buttons{
        justify-content: space-between;

        &--onlyEdit{
          justify-content: center;
        }
      }
    }
    
  }

}