.newProduct__unitPrices{
  
  .unitPrice--edit{
    // background-color: rgba(189, 189, 189, 0.679);

    input,select{
      // background-color: transparent;
      // border: solid 0.8px #ffffff;
    }

  }

  td{
    height: 50px;



    &:first-child{
      padding-left: 10px;
    }

    .unitPrice__buttons{
      display: flex;
      justify-content: space-around;

      &--onlyEdit{
        justify-content: center;
      }

      svg{
        cursor: pointer;
      }
    }    

    .button--icon{
      border: none;
      p{
        padding-left: 8%;
      }
    }

    select.form-input {
      width: 85%;
    }

    .form-input{
      width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      box-shadow: none;
    }

  }
  
}


@media(min-width:768px){

  .newProduct__unitPrices{

    td{
      .unitPrice__buttons{
        justify-content: space-between;

        &--onlyEdit{
          justify-content: center;
        }
      }
    }
    
  }

}