@import '../../Vars.scss';

.moreProducts{
  margin: 10px 10px;
  max-width: 1100px;
  margin: 0 auto;
  width: 95%;
  margin-bottom: 30px;

  .c-carousel{
    border-radius: 5px;
    overflow: hidden;
  }

  &__card{
    cursor: pointer;
    min-width: 200px;
    margin-right: 20px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background: white;
    box-shadow: $shadow;


    &:last-child{
      margin-right: 0;
    }

    img{
      display: block;
      width: 200px;
      height: 160px;
      object-fit: cover;
    }

    p{
      display: flex;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.666);
      position: absolute;
      color: white;
      bottom: 0;
      width: 100%;
      padding: 10px 5px 0px 10px;
      margin: 0;
      height: 50px;
      font-size: 16px;

    }

  }
}