
.product__photos{
  width: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  max-width: 500px;
  margin-bottom: 10px;

  .photos__firstPhoto{
    margin: 0 auto;
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .photos__secondPhoto{
    min-width: 25%;
    margin-right: 2%;
    border-radius: 5px;
    overflow: hidden;

    &:last-child{
      margin-right: 0;
    }

    &.select{
      border:1px solid rgb(135, 138, 136);
    }
    
    &>div{
      position: relative;
      width: 100%;
      height: 100%;
      padding-bottom: 100%;
      
      img{
        cursor: pointer;
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;

        &:last-child{
          margin-right: 0;
        }
      }
    }
  }

  .c-carousel{
    width: 100%;
    margin-top: 5px;
  }
}

@media(min-width:500px){
  .product__photos{
    .photos__firstPhoto{
      height: 360px;
    }
  }
}


@media(min-width:900px){
  .product__photos{
    .c-carouselCategories{
      margin-bottom: 0;
    }
  }
}