.product__info{
  width: 95%;

  .product__userContact{
    display: flex;
    align-items: center;

    span{
      margin-right: 10px;
    }
  }
}

@media(min-width:910px){
  .product__info{
    margin-left: 20px;
    height: 530px;
  }
}
