@import '../../Vars.scss';

.product__info{
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border-radius: 5px;
  border: 1px solid rgb(216, 216, 216);
  padding: 20px;

  h2{
    margin-top: 0;
    margin-bottom: 0px;
    color: $main-green;
    margin-bottom: 20px;
    text-align: left;
  }

  h3{
    font-weight: bold;
    margin-top: 0;
    text-align: left;
  }


  &Value{
    margin: 5px 0 ;
  }

  &Block{

    margin-top: 25px;

    &Title{
      font-size: 20px;
    }

    p{
      display: flex;
      align-items: center;
      svg{
        margin-right:15px;
      }
    }

  }

  .product__userContact{
    display: flex;
    align-items: center;

    span{
      cursor: pointer;
      margin-right: 10px;
    }
  }

  .button{
    max-width: 170px;
    align-self: center;
    margin-top: 25px;

    &:hover{
      svg{
        path{
          fill: $main-green;
        }
      }
    }
  }
}

@media(min-width:910px){
  .product__info{
    justify-content: space-between;
    margin-top: 0;
    max-width: 400px;
    height: 100%;

    h2{
      font-size: 40px;
    }
  }
}
