
.product__photos{
  width: 95%;
  display: grid;
  align-items: center;
  max-width: 500px;
  justify-items: center;
  margin-bottom: 10px;

  .photos__firstPhoto{
    margin: 0 auto;
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .photos__secondPhoto{
    width: 15%;
    min-width:50px;
    max-width: 60px;
    margin-right: 2%;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0.8;

    &:last-child{
      margin-right: 0;
    }

    &.select{
      outline: 1px solid rgb(135, 138, 136);
      opacity: 1;
    }
    
    &>div{
      position: relative;
      width: 100%;
      height: 100%;
      padding-bottom: 100%;
      
      img{
        cursor: pointer;
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;

        &:last-child{
          margin-right: 0;
        }
      }
    }
  }

  .c-carousel{
    width: 100%;
    margin-top: 5px;
  }
}

@media(min-width:500px){
  .product__photos{
    .photos__firstPhoto{
      height: 360px;
    }
  }
}

@media(min-width:768px){
  .product__photos{
    grid-template-columns: 60px 1fr;
    max-width: 560px;

    .photos__firstPhoto{
      margin: 0;
    }
    
    .photos__secondPhoto{
      margin: 0;
      margin-bottom: 5px;
    }

    .c-carousel{
      height: 100%;
      grid-row: 1 / 3;
      margin: 0;

      .carousel__items{
        flex-direction: column;
        align-items: center;
      }


    }
  }
}


@media(min-width:900px){
  .product__photos{

    .photos__firstPhoto{
      height: 400px;
    }

    .c-carouselCategories{
      margin-bottom: 0;
    }
  }
}