
.menuModal{
  .modalMenuSubMenu{
    transition: all 0.3s;
    max-height: 0;
    overflow: hidden;
    padding: 0 0 0 25px;

    .c-options__check{
      height: 150px;
      display: flex;
      overflow: auto;
      flex-direction: column;
    }

    &.show{
      max-height: 150px;
    }
  }
}