@import '../Vars.scss';

.Button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 30px;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
}

.main{
  background-color: $main-button;
}

.second{
  background-color: #2D9CDB ;
}

.Button__text{
  color: white;
}

.method-icon{
  cursor: pointer;
  width: 30px;
  height: 30px;
}