@import '../Vars.scss';

//TODO hover de los botones
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;

}

.button--icon{
  padding: 0px 3%;
  border: solid 0.8px #B8B5B5;
  width: 100%;

  p{
    text-align:start;
    padding-left: 15%;
    width: 70%;
  }

  .button__icon{
    width: 30%;
  }
}


.button--main{
  background-color: $main-green;
  color: white;
  border: none;

  &:hover{
    border: 1px solid $main-green;
    background: white;
    color: $main-green;
  }
}

.button--second{
  background-color: $main-blue ;
  color: white;
  border: none;

  &:hover{
    border: 1px solid $main-blue;
    background: white;
    color: $main-blue;
  }
}

.button--danger{
  background-color: #EA3449;
  color: white;
  border: none;
}

.method-icon{
  cursor: pointer;
  width: 30px;
  height: 30px;
}

@media(min-width:910px){
  .method-icon{
    width: 25px;
    height: 25px;
  }
}