@import '../Vars.scss';

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  // font-family: Arial, Helvetica, sans-serif;
  // letter-spacing: 1px;
  font-weight: 500;


  
}

.button--icon{
  justify-content: space-around;
  padding: 0px 3%;
  border: solid 0.8px #B8B5B5;
  width: 100%;

  p{
    padding-left: 15%;
    width: 70%;
  }

  .button__icon{
    width: 30%;
  }
}


.button--main{
  background-color: $main-button;
  color: white;
  border: none;
}

.button--second{
  background-color: #2D9CDB ;
  color: white;
  border: none;
}


.method-icon{
  cursor: pointer;
  width: 30px;
  height: 30px;
}