.containerAlert{
  position: fixed;
  display: flex;
  margin: 0 auto;
  top: 0;
  justify-content: center;
  align-items: center;
  left: 0;
  z-index: 10;
  width: 100%;
  // padding: 20px;
  animation: move 4s ease ;

  

  &>div{
    display: flex;
    border-radius: 7px;
    padding: 20px;
    // margin: 5px;
    max-width: 750px;
    align-items: center;
    color: white;
    
    svg{
      margin-right: 20px;
    }
  }

  &--successful{
    &>div{
      background-color: #19212B;
    }
  }

  &--error{
    &>div{
      background-color: #19212B;
    }
  }
}


@keyframes move {

  0% {
    transform:  translateY(-1.25rem);
    opacity: 0;
  }

  10%{
    transform: translateY(3.25rem);
    opacity: 1;
  }

  90%{
    transform: translateY(3.25rem);
    opacity: 1;
  }

  100%{
    transform:  translateY(-1.25rem);
    opacity: 0;
  }
}
