.c-carouselCategories{
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  .carrousel__categories{
    display: flex;
    overflow: scroll;
    flex-direction: row;
    scroll-behavior: smooth;
    
    &::-webkit-scrollbar {
      display: none;
    }

    .categories__title{
      padding: 10px 12px;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
      &:hover{
      background-color: #EBF1F3;

      }
    }

    .categories__title--selected{
      background-color: #49c2eb;
    }
  }

  .carrousel__buttons--arrow{
    .arrow{
      cursor: pointer;
      position: absolute;
      z-index: 1;
      &--previous{
        padding: 10px 15px 10px 0;
        background-image: linear-gradient(to left, rgba(255,255,255,0) 0%, white 50%);
        left:16px;
        top: 17px;
      }
      &--next{
        padding: 10px 0px 10px 15px;
        background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, white 50%);
        bottom: 15px;
        right: 16px;
      }
    }
  }
}


@media (min-width:910px){
  .c-carouselCategories{
    justify-content: flex-start;
    width: 50%;
  }
}

@media (min-width:1024px) {
  .c-carouselCategories{
    width: 60%;
  }
}