.c-carouselCategories{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  .carrousel__categories{
    width: 100%;
    display: flex;
    overflow: scroll;
    flex-direction: row;
    scroll-behavior: smooth;
    
    &::-webkit-scrollbar {
      display: none;
    }

    .categories__title{
      padding: 10px 12px;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
      &:hover{
        background-color: #EBF1F3;
      }
    }

    .categories__title--selected{
      background-color: #35CD8C;

      &:hover{
        background-color: #35CD8C;
      }
    }
  }

  .carrousel__buttons--arrow{
    .arrow{
      cursor: pointer;
      position: absolute;
      z-index: 1;
      &--previous{
        padding: 10px 15px 10px 0;
        background-image: linear-gradient(to left, rgba(255,255,255,0) 0%, white 50%);
        left:0px;
        top: calc(50% - 19px);
      }
      &--next{
        padding: 10px 0px 10px 15px;
        background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, white 50%);
        top: calc(50% - 19px);
        right: 0px;
      }
    }
  }
}