@import '../Vars.scss';

.profileDesktopMenu{
  display: none;
}

@media screen and (min-width:910px) {
  .header__userStatus{
    height: 100%;
  
    &:hover{
      .profileDesktopMenu{
        max-height: 200px;
      }
    }
    
    .profileDesktopMenu{
      display: block;
      width: calc(100% + 30px);
      position: absolute;
      background-color: #fcfcfc;
      top: 69px;
      padding: 0px 15px;
      border-radius: 0 0 5px 5px;
      transition: max-height 0.3s;
      max-height: 0;
      overflow: hidden;
      box-shadow: $shadow;
    
      &__option{
        display: flex;
        align-items: center;
        position: relative;
    
        img{
          width: 20px;
          height: 20px;
          margin-right: 15px;
        }

        &:hover{
          &::after{
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: #bec7c5;
          }
        }
      }
    }
  }
  
}