.footer{
  margin-top: auto;
  background-color: #ecf0ef;
  border-top: 1px solid #D2DAD8;;
  padding: 10px;

  .copyright{
    width: 100%;
    border-top: 1px solid #D2DAD8;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    text-align: center;
  }

  .top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }

  nav{
    width: 100%;
    min-width: 250px;
    max-width: 350px;
    margin: 0 10px;
    padding: 5px 0;
  }

  ul{
    margin: 10px 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    a{

    }
  }

  &__mainLogo{
    width: 100px;
  }


  &__socialMedia{
    width: 200px;
    min-width: 200px;

    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;

    img{
      cursor: pointer;
    }
  }
}


@media(min-width:910px){
  .footer{
    padding: 5px;
    .top{
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 0;
    }
  }
}
