@import '../Vars.scss';

.l-signMethod{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.imagen{
  display: none;
  height: 100vh;
  background-color: $main-green;
  // background-color: $semiDark-green;
}

@media (min-width:910px){
  .l-signMethod{
    justify-content: space-between;
    .login,.register,.recovery{
      padding:0 40px;
      min-width: 400px;
    }
  }

  .imagen{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;

    img{
      width: 100%;
      max-width: 600px;
    }

  }

}