@import '../Vars.scss';

.l-signMethod{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .login,.register,.recovery{
    padding:0 32px;
    max-width: 370px;
    width: 100%;
  }

}

.imagen{
  display: none;
  height: 100vh;
  background-color: #F7F4F4;
}

@media (min-width:910px){
  .l-signMethod{
    justify-content: space-between;
    .login,.register,.recovery{
      padding:0 40px;
      min-width: 400px;
      margin: 0 38px;
    }
  }

  .imagen{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    overflow: hidden;
  }

}