@import '../Vars.scss';

.login{
  box-sizing: border-box;
  width: 320px;
  background-color: cadetblue;
  padding: 70px 20px 20px;

  &__title{
    .title{
      letter-spacing: -1px;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

  .form{
    margin-top: 40px;
    margin-bottom: $margin-components;
    &__text{
      margin:$margin-elements 0;
      font-size: $small-letter;
      text-align: center;
    }

    .button{
      margin:auto;
      margin-top: 20px;
    }
  }

  &__options{
    margin-top: $margin-components;
    margin-bottom: $margin-components;
    &--text{
      font-size: $small-letter;
      text-align: center;
      margin-bottom:$margin-elements;
    }
    &--options{
      display: flex;
      justify-content: space-between;
      margin:0 auto; 
      width: 160px;

    }
  }

  &__register{
    margin-top: $margin-components;
    &--text{
      font-size: $small-letter;
      text-align: center;
    }
  }

}


.method-icon{
  width: 25px;
  height: 25px;
}