@import '../Vars.scss';

.login{

  &__title{
    .title{
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 10px;
      color: $semiDark-green;
    }
    .subtitle{
      font-size: 18px;
    }
  }

  .form{
    margin-top: 50px;
    margin-bottom: 34px;

    &__text{
      display: block;
      font-size: 12px;
      width: fit-content;
      margin-left: auto;
      text-decoration: underline;
      margin-top: 15px;
    }

    .button{
      width: 160px;
      margin:auto;
      margin-top: 45px;
    }
  }

  &__register{
    
    &--text{
      font-size: 12px;
      text-align: center;

      a{
        font-weight: 700;
        text-decoration:underline;
        cursor: pointer;
      }
    }
  }

}