.l-products{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  .c-products__tools{
    width: 100%;

    .products__tools{
      display: flex;
      justify-content: space-around;
      padding: 16px;
      border-bottom:1px solid #D2DAD8;
      
      .search{
        width: 60%;
      }
      .button{
        max-width: 100px;
      }
      
    }
  
    .products__categories{
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      
      .categories{
        display: flex;
        overflow: scroll;
        flex-direction: row;
        scroll-behavior: smooth;
        
        &::-webkit-scrollbar {
          display: none;
        }
  
        &__title{
          padding: 10px 12px;
          font-size: 16px;
          border-radius: 8px;
  
        }
  
        &__title--selected{
          background-color: #EBF1F3;
        }
      }
  
      .button--arrow{
        .arrow{
          position: absolute;
          z-index: 1;
          &--previous{
            padding: 10px 15px 10px 0;
            background-image: linear-gradient(to left, rgba(255,255,255,0) 0%, white 50%);
            left:16px;
            top: 17px;
          }
          &--next{
            padding: 10px 0px 10px 15px;
            background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, white 50%);
            bottom: 16px;
            right: 16px;
          }
        }
    
      }
    }
  }




  .c-products__products{
    // width: 90%;
    width: 95%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px,210px));
    gap: 30px 35px;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}


@media (min-width:520px){
  .l-products{
    .c-products__tools{
      .products__tools{
        .button{
          max-width: 140px;
        }
      }
    }
  }
}


@media (min-width:910px){
  .l-products{

    .c-products__tools{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      border-bottom:1px solid #D2DAD8;

      .products__categories{
        justify-content: flex-start;
        width: 50%;
      }

      .products__tools{
        justify-content: space-between;
        width: 50%;
        // max-width: 500px;
        border:none;

        .search{
          width: 100%;
          margin-right: 20px;
        }
      }
    }
    
  }
}

@media (min-width:1024px){
  .l-products{

    .c-products__tools{

      padding: 0 20px;

      .products__categories{
        width: 60%;
      }

      .products__tools{
        width: 40%;
      }
    }
    
  }
}