.profileProducts__search{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;

  .search{
    max-width: 500px;
    margin-right: 10px;

  }

  // .button{
  //   height: 35px;
  // }
}

