
.profileSettings__data{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .button{
    align-self: flex-end;
  }
}

.l-info, .l-contacto, .l-password{
  margin-right: 5px;
  margin-left: 5px;
}

.data__info{

  p{
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.data__photo{
  img{
    width: 160px;
    height: 160px;
    border-radius: 10px;
    background-color: gray;
    overflow: hidden;
  }

}

.profileSettings__password{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .l-buttons{

    display: flex;
    align-self: center;

    .button:first-child{
      margin-right: 10px;
    }
  }
}


@media(min-width:425px){
  .profileSettings__password{
    .l-buttons{
      align-self: flex-end;
    }
  }
}


@media (min-width:910px){

  .l-info, .l-contacto, .l-password{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    margin-right: 5px;
    margin-left: 5px;
  }

  
}