.l-profileSettings{
  width: 100%;
  padding: 20px 3.5% 20px 3.5%;
}

.profileSettings__data{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .button{
    align-self: flex-end;
  }
}

.l-info, .l-contacto, .l-password{
  margin-right: 5px;
  margin-left: 5px;
}

.data__info{
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  p{
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

// .data__photo{
//   img{
//     width: 160px;
//     height: 160px;
//     border-radius: 10px;
//     background-color: gray;
//     overflow: hidden;
//   }

// }

.profileSettings__password{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .l-buttons{

    display: flex;
    align-self: center;

    .button:first-child{
      margin-right: 10px;
    }
  }
}


//COMPONENTE ADD PHOTO INSIDE (ONLY ONE IMG)
.addPhoto{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
  width: 160px;
  height: 160px;
  border-radius: 10px;
  // margin-right: 10px;

  cursor: pointer;
  overflow: hidden;

  input{
    display: none;
  }


  svg{
    // display: none;
    opacity: 0;
    position: absolute;
  }

  &:hover{
    svg{
      opacity: 1;
      // transform: scale(1.4);
    }
  }

  img{
      width: 160px;
      height: 160px;
      border-radius: 10px;
      // background-color: rgb(40, 43, 114);
      background-color: rgb(40, 43, 114);
      overflow: hidden;
      object-fit: cover;
      text-align: center;
      line-height: 160px;
      color: white;
  }

}


@media(min-width:425px){
  .profileSettings__password{
    .l-buttons{
      align-self: flex-end;
    }
  }
}


@media (min-width:910px){

  .l-info, .l-contacto, .l-password{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    margin-right: 5px;
    margin-left: 5px;
  }

  
}