//estandars layout c-profile
.system{
  width: 100%;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__buttons{
    display: flex;
    height: 50px;
    margin-left: 5px;
    width: 90%;
    max-width: 921px;
    align-self: flex-start;

    .system__button{
      box-sizing: border-box;
      padding: 10px;
      border-bottom: 3px solid gray;
      height: 40px;
      position: relative;


      &:hover{
        &::after{
          content: '';
          display: block;
          height: 3px;
          width: 80%;
          background-color: rgb(63, 62, 90);
          position: absolute;
          bottom: -3px;
          left: 10%;
        }
      }

      &.selected{
        border-bottom: 3px solid #FE043C;
        // &:hover{
        //   &::after{
        //     content: none;
        //   }
        // }
      }
    }
    


  }
}

.l-system{
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.5% 20px 2.5%;
  margin-bottom: 20px;
  box-shadow: 0px 5px 8px rgba(65, 65, 65, 0.3);
  border-radius: 10px;

  .system__location{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;

    &-logo{
      margin-right: 5px;
    }

    & a {
      text-align: center;
      margin: 0 5px;
    }

  }

  .system-view{
    width: 100%;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

  }

}


.systemSubGroup__title{
  margin-bottom: 10px;
}
  


.separation-line{
  width: 100%;
  height: 1px;
  background:#D2DAD8;
  margin-top: 20px;
  margin-bottom: 20px;
}


.separationPath{
  font-size: 25px;
  font-weight: 500;
}

@media (min-width:768px){
  .l-system{
    width: 90%;
    padding: 0 20px 20px 20px;

  }

  .system__buttons{
    align-self:initial;
  }
}


@media (min-width:910px){
  .l-system{
    padding: 0 30px 30px 30px;

    .system__location{
      margin: 10px 0;
    }

  }
}

@media (min-width:1024px){
  .l-system{
    padding: 0 40px 30px 40px;
  }
}


//  system -> container general
//            window >=0  system width 100%


//    l-system -> disposicion (layout) 
//               window < 768px l-system width 100%
//               window >= 768px l-system width 90%


//    system-view -> container de las vistas (settings,products,newproducts) 
//                  no tiene un width por defecto, su tamaño se ajusta aapartir de los paddings de (l-system), asi que empieza con el 
//                  window < 768px l-system tiene 2.5% de padding por ende system-view tiene 95% 
//                  window >= 768px l-system tiene 20px de padding por ende system-view tiene (100% - 40px)
//                  window >= 910px l-system tiene 30px de padding por ende system-view tiene (100% - 60px)
//                  window >= 1024  l-system tiene 40px de padding por ende system-view tiene (100% - 80px)



//    childrens -> hijos almacenados en system-view
//                  window < 768px system-view tiene 3.5% de padding por ende los hijos tienen el 93%
//                  window > 768px system-view tiene 20px de padding por ende los hijos tienen (100% - 40px)
//                  window > 910px system-view tiene 30px de padding por ende los hijos tienen (100% - 60px)