@import './Vars.scss';

*{
  margin: 0;
  padding: 0;
}

.App{
  width: 100%;
  font-size: 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input{
  padding: 10px 7px;
  width:85%;
  border: solid 0.8px #B8B5B5;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  outline: none;
  color: #a2a2a2;
  margin: 10px;
}

.input--alert{
  border: solid 1px #FDA9A9;
}