@import './Vars.scss';

body{
  margin: 0;
  padding: 0;
}

.root{
  width: 100%;
  font-size: 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.separator{
  border-bottom: 1px solid black;
}