$family-font: "Poppins", sans-serif;

$small-letter: 12px;
$margin-elements: 15px;
$margin-components: 30px;

$main-FontColor: #2e3333;

$main-green: #2EC4B6;
$dark-green: #00443e;
$semiDark-green: #018175;
$light-green: #e8f2f1;


$main-blue: #2D9CDB;
$dark-blue: #076fab;

$light-gray: #F7F4F4;

$main-brown: #b2945d;
$light-brown: #e3c293;


$shadow: 0px 5px 8px rgba(65, 65, 65, 0.3);
$light-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);