$main-button: #2EC4B6;
$second-button: #2D9CDB;
$family-font: 'Poppins', sans-serif;

$small-letter: 12px;
$margin-elements:15px;
$margin-components:30px;



$main-FontColor: #30403E;


$dark-green: #00443E;
$semiDark-green: #018175;
$main-green: #2EC4B6;
$light-green: #E8F2F1;

