$main-button: #2ec4b6;
$second-button: #2d9cdb;
$family-font: "Poppins", sans-serif;

$small-letter: 12px;
$margin-elements: 15px;
$margin-components: 30px;

$main-FontColor: #30403e;

$dark-green: #00443e;
$semiDark-green: #018175;
$main-green: #2ec4b6;
$light-green: #e8f2f1;

$subTitle-blue: #076fab;
$subTitle-green:#2EC4B6;
