@import '../../Vars.scss';

.aboutUsSection {
  width: 100%;
  padding: 0 20px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;

  &__info {
    h2 {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 30px;
    }

    p {
      text-align: justify;
      max-width: 600px;
    }
  }

  &__helpsContainer {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

  &__help {
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
      text-align: center;
    }

    img {
      overflow: hidden;
      width: 90px;
      height: 90px;
      border-radius: 5px;
      background: gray;
    }
  }

  &__imgsContainer {
    margin-top: 40px;
    padding-left: 20px;
    position: relative;
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__horizontalImg {
    width: 100%;
    position: absolute;
    height: 200px;
    border-radius: 5px;
    max-width: 550px;
  }

  &__verticalImg {
    position: relative;
    height: 100%;
    z-index: 2;
    transform: translateX(-25%);
    border-radius: 5px;
    width: 180px;
    object-fit: cover;
  }
}



@media (min-width: 425px) {
  .aboutUsSection {
    &__verticalImg {  
      width: auto;
    }
  }
}


@media (min-width:475px){
  .aboutUsSection{

    &__imgsContainer{
      height: 300px;
    }

    &__horizontalImg{
      height: 250px;
    }
  }
}


@media (min-width:910px){
  .aboutUsSection{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    max-width: 1100px;
    padding: 0;

    &__imgsContainer{
      padding-left: 0;
      grid-row: 1 / 3;
    }
  }
}


@media (min-width:1024px){
  .aboutUsSection{
    margin-bottom: 100px;

    &__imgsContainer{
      height: 330px;
      max-width: 450px;
    }
  }
}