@import '../../Vars.scss';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;


  &__backgroundBlock{
    width: 100%;
    position: relative;
  }

  section{
    padding-bottom: 30px;
  }

  .section{
    &--gray{
      background-color: $light-gray;
    }

    &--separation{
      margin-top: 60px;
    }
  }

}

@media (min-width: 910px) {
 .home{

  .section{
    &--gray{
      background-color: transparent;
    }

    &--separation{
      margin-top: 80px;
    }
  }

  &__backgroundBlock{
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after{
      position: absolute;
      content: '';
      inset: 0 0 0 0;
      background: #F4F4F4;
      clip-path: polygon(60% 0, 100% 0, 100% 100%, 0 100%);
      z-index: -2;
    }
  
  }
 }
}

