.itemNewProduct{
  display: flex;
  flex-direction: column;
  border: 1px solid #B8B5B5;
  border-radius: 5px;
  padding: 10px;
  // height: 288px;

  &__imgSpace{
    border-radius: 5px;
    background-color: rgb(40, 43, 114);
    height: 180px;
  }

  .buttonNewProduct{
    height: 50px;
    margin: 18px auto;
    width: 90%;

  }

  // svg{
  //   cursor: pointer;
  // }
}

