.profileProductCard{
  display: grid;
  grid-template-columns: 65px auto;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  padding: 8px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border: solid 0.8px #B8B5B5;
  border-radius: 5px;

  svg{
    cursor: pointer;
  }
  
  .l-profileProductCard__bottom{
    display: grid;
    grid-template-columns: auto 80px;
    align-items: center;
  }

  &__img{
    width: 65px;
    height: 65px;
    background: white;
    border-radius: 5px;
    object-fit: cover;
  }

}

.l-profileProductCard__buttons{
  display: flex;
  justify-content: space-between;
}

.l-profileProductCard__info{
  p{
    margin: 5px 0;
  }

}


@media (min-width:375px){
  .profileProductCard{
    
    //mas espacio para los botones
    .l-profileProductCard__bottom{
      grid-template-columns: auto 100px;
    
    }
    .l-profileProductCard__buttons{
      margin-right: 10px;

    }
  }
}


@media (min-width:768px){
  .profileProductCard{
    display: flex;
    flex-direction: column;
    padding:0;
    border: none;

    .l-profileProductCard__bottom{
      border: 1px solid #B8B5B5;
      border-top: none;
      width: 100%;
      grid-template-columns: none;
      grid-template-rows: auto 30px;
      align-items:baseline;
      border-radius: 0 0 5px 5px;

    }

    .l-profileProductCard__buttons{
      align-self: flex-end;
      align-items: center;
      height: 100%;
      margin: 0;
      border-top: 1px solid #B8B5B5;

      &>div{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:nth-child(2){
          border-right: 1px solid #B8B5B5;
        }
      }

      .profileProductCard__date{
        display: none;
      }

    }

    .l-profileProductCard__info{
      padding: 10px;
    }

    &__img{
        width: 100%;
        height: 190px;
        border-radius: 5px 5px 0 0 ;
    }
  }
}