.profileProducts__search{
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 3.5% 20px 3.5%;
  border-bottom: 1px solid #B8B5B5;

  .search{
    max-width: 500px;
    margin-right: 10px;
  }

  .filter{
    max-width: 150px;
  }
}

.profileProducts__container{

  &>div{
    margin-bottom: 15px;
  }

  .itemNewProduct{
    display: none;
  }

  &>.buttonNewProduct{
    width: 100%;
  }
}

.l-profileProducts__products{
  width: 100%;
  padding: 20px 3.5% 20px 3.5%;



}

.l-profileProducts__info{
  display: grid;
  grid-template-columns: 1fr repeat(2,50px);
  width: 100%;
  justify-items: center;
  margin-top: 20px;
  padding: 0 calc( 3.5% + 10px);

  .profileProducts__textList{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    justify-self: start;

  }

  .profileProducts__infoList{

    .infoList__type{
      font-size: 18px;
      margin: 0;
      display: none;
    }

    .infoList__count{
      margin: 0;
      text-align: center;
      font-size: 17px;

      &--green{
        color: #2EC4B6;;
      }

      &--red{
        color: #FE043C;
      }
    }
  }
}

@media (min-width:768px){
  .profileProducts__container{
    display: grid;
    grid-template-columns: repeat(auto-fit,190px);
    gap: 10px;
    justify-content: center;

    //eliminar margen card mobile
    &>div{
      margin-bottom: 0;
    }

    //esconder el botonsencillo
    & > .buttonNewProduct{
      display: none;
    }
    
    //mostrar buttonNewProduct
    .itemNewProduct{
      display: flex;
    }
  }

  .l-profileProducts__info{
    grid-template-columns: 2fr repeat(2,1fr);
    align-items: center;


    .profileProducts__infoList{      
      .infoList__type{
        display: block;
      }
    }
  }

}

@media (min-width: 810px){
  .profileProducts__container{
    grid-template-columns: repeat(auto-fit,200px);
  }
}

@media (min-width: 910px){
  .profileProducts__container{
    column-gap: 10px;
    row-gap: 20px;
  }
}