@import '../../Vars.scss';

.cardTeam {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  margin: 20px;

  &__imgContainer {
    display: flex;
    justify-content: center;
    position: relative;
    width: fit-content;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    background: white;
    
    img{
      border-radius: 50%;
      overflow: hidden;
    }

    &::after {
      transition: all 300ms;
    }

    &:hover {
      &::after {
        max-height: 100%;
      }

      .cardTeam__title {
        background-color: $main-green;
      }
    }

    &::after {
      content: "";
      background: url(../../../static/Team/blackBranch.svg) no-repeat center
      center / contain;
      max-height: 0%;
      width: 80px;
      height: 200px;
      position: absolute;
      bottom: 0;
      right: -20px;
    }
  }

  &__title {
    cursor: pointer;
    background-color: $main-brown;
    text-align: center;
    padding: 10px 25px;
    position: absolute;
    bottom: 0;
    border-radius: 5px;
    z-index: 1;
    color: white;
    font-weight: bold;
    width: 220px;
  }

  &__text {
    text-align: center;
    margin-top: 0;
  }
}