@import '../../Vars.scss';

.team{

  &__imgContainer{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
      position: absolute;
      color: white;
      z-index: 1;
    }

    &::before{
      content: "";
      position: absolute;
      inset: 0 0 0 0;
      z-index: 1;
      height: 100%;
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.35) 100%, rgba(0, 0, 0, 0.35) 100%);
  }

  img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  } 

  h2{
    color: $main-FontColor;
    margin-top: 50px;
  }

  &__cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__info{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;

    >img{
      width: 90%;
      max-width: 450px;
      height: 300px;
      object-fit: cover;
      border-radius: 5px;
    }

    &Container{
      margin-top: 30px;
      max-width: 500px;
    }
  }

}


@media (min-width:768px){
  .team{
    &__imgContainer{
      height: 550px;
    }

    &__info{
      position: relative;
      padding-bottom: 80px;


      >img{
        max-width: 550px;
        height: 350px;
      }

      &Container{

        h3{
          margin-top: 10px;
        }
        
        background: rgba(255, 255, 255, 0.9);
        padding: 30px;
        border-radius: 5px;
        width: 50%;
        max-width: 450px;
        box-shadow: $shadow;
        position: absolute;
        z-index: 1;
        bottom: 0px;
        right: 0;
      }
    }
  }
}

@media (min-width:1024px){
  .team{
    h2{
      margin-top: 80px;
    }

    &__cardsContainer{
      margin-top: 80px;
      margin-bottom: 80px;
    }
  }
}